# Data Types and Structures Questions

1. **What are data structures, and why are they important?**

    Data structures are different ways of organizing and storing data in a computer so that it can be used efficiently.

    They are important because the right data structure can make a program run faster and use less memory. For example, using a dictionary for lookups is much quicker than searching through a list.

    Some of the most common used data structure in python are
    * List := `["apple", "banana", "orange"]`
    * Dictionary: `{"language": "Python:}`
    * Tuple: `('one', 'two')`
    * Set: `set([1, 2, 'ML', 4, 'For', 6, 'Datascience'])`
    * String: `"Python is used in ML"` etc.

2. **Explain the difference between mutable and immutable data types with examples.**

  * A mutable data type is something you can change after it’s created. For instance, a Python list is mutable—you can add, remove, or modify its elements:

    ```
    numbers = [1, 2, 3]
    numbers.append(4)   # list changed
    ```
  
  * An immutable data type cannot be changed once created. A string and tuple is a good example:

    ```
    text = "hello"
    text[0] = "H"  # this will throw an error
    ```

3. **What are the main differences between lists and tuples in Python?**

  * Lists

    1. Lists are mutable you can add, remove, or change elements.

    2. Lists are better when you need to modify data frequently.

  * Tuple

    1. Tuples are often used for fixed collections of items, like coordinates (x, y).

    2. Tuples are immutable once created, they cannot be changed.

4. **Describe how dictionaries store data.**

    Dictionaries store data as key–value pairs. Each key is unique and maps to a specific value. Under the hood, Python uses a hashing mechanism, so when you search for a key, it can find the value very quickly without scanning the whole dictionary. For example:

    ```
    student = {"name": "Shivam", "age": 26, "course": "DS"}
    ```

    Here above, "name", "age", and "course" are keys, and their corresponding values are "Alex", 21, and "DS".

5. **Why might you use a set instead of a list in Python?**

    Sets automatically remove duplicates, making them ideal when you want only unique values.

    They offer faster membership checks (like if x in my_set) compared to lists.

    You can perform powerful set operations like union, intersection, and difference easily.

    Sets are unordered, so if the order doesn’t matter, they’re more efficient.

    Example use: getting unique email IDs from a list of form submissions.

6. **What is a string in Python, and how is it different from a list?**

    A string is a sequence of characters, written inside quotes like "hello world".

    A list is a collection of items that can hold any data type, including numbers, strings, or even other lists.

    Strings are immutable, meaning once created, you can’t change their characters.

    Lists are mutable, so you can add, remove, or modify elements.

    ```
    Example
    str = "hello" # string
    list = ["h", "e", "l", "l", "o"] # list
    ```

7. **How do tuples ensure data integrity in Python?**

    * Tuples are immutable, meaning their content cannot be changed once defined.

    * This ensures the data stays constant and secure, which is useful in situations where it shouldn't be altered.

    * They can be used as dictionary keys or in sets, which require unchangeable values.

    * Tuples help prevent accidental updates in your code.

    ```
    Example
    tuple = (10, 20, 30)
    ```

8. **What is a hash table, and how does it relate to dictionaries in Python?**

    * A hash table is a data structure that stores data using a key-value mapping.

    * Python dictionaries are built on top of hash tables for fast data lookup.

    * Each key is converted into a hash code, which helps Python locate the value quickly.

    * Hash tables handle collisions (when two keys hash to the same spot) using internal logic.

    * Thanks to this, dictionary operations like get, set, and delete are usually very efficient (O(1)).

9. **Can lists contain different data types in Python?**

    Yes, Python lists are flexible and can store multiple data types in a single list.

    We can mix integers, strings, floats, booleans, or even other lists.

    This makes lists useful for grouping related but different kinds of data.
    Example:
    ```
    mixed_list = [25, "hello", 3.14, True]
    ```

10. **Explain why strings are immutable in Python.**

    Strings in Python are immutable, meaning you can’t change individual characters once the string is created.

    This design makes strings safe and reliable, especially when shared across parts of a program.

    Immutability allows strings to be used as dictionary keys and ensures consistent hashing.

    It also helps Python with memory optimization and performance through string reuse.

    Example:
    ```
    text = "hello"
    text[0] = "H"
    ```

11. **What advantages do dictionaries offer over lists for certain tasks?**

    Dictionaries provide fast lookup by key Big O(1) time, unlike lists which require scanning through items and has lookup of Big O(N).

    They allow key-value pairing, making data more descriptive and easier to work with.

    Ideal for structured data, like storing student names and their grades: `{"Rohan": 100}`.

    Updating or finding values is more direct using keys, whereas lists need index positions.

    They're great when you need to map relationships or build a quick database.

12. **Describe a scenario where using a tuple would be preferable over a list**

    A tuple is preferable when you need a fixed collection of data that should not change.

    **Consider this scenario**

    Imagine we are storing the coordinates of a location on a map:
    ```
    location = (28.6139, 77.2090)  # Latitude, Longitude
    ```
    Since these values represent a specific point on Earth, they shouldn’t be accidentally modified. Using a tuple makes the data immutable and safe, whereas a list could be changed by mistake.

    More example

    * Returning multiple values from a function (like (status, message)).

    * Using tuples as dictionary keys (lists can’t be keys because they’re mutable).

    * Storing configuration data that must remain constant.

13. **How do sets handle duplicate values in Python?**

    Sets automatically remove duplicates, only storing unique values.

    If you try to add a value that already exists, it simply won’t be added again.

    This makes sets ideal for tasks like filtering duplicates from a list.

    Example:
    ```
    set = set([1, 2, 2, 3]) # Output: {1, 2, 3}
    ```
    They use hashing, similar to dictionaries, for fast membership checks.

14. **How does the “in” keyword work differently for lists and dictionaries?**

    For lists:

    in checks if a given value exists in the list.

    It goes through the list elements one by one until it finds a match.
    ```
    nums = [1, 2, 3, 4]
    print(3 in nums)   #  True (checks values)
    print(5 in nums)   #  False
    ```

    For dictionaries:

    in checks if a given key exists in the dictionary (not the value).

    It uses a hash lookup, which is much faster than scanning values.
    ```
    student = {"name": "Alex", "age": 21}
    print("name" in student)   #  True (checks keys)
    print("Alex" in student)   #  False (does not check values)
    ```

    If you want to check values in a dictionary, you need:
    ```
    print("Alex" in student.values())   # True
    ```

15. **Can you modify the elements of a tuple? Explain why or why not.**

    No, you can’t modify elements of a tuple because tuples are immutable.

    Once a tuple is created, its values are fixed and cannot be changed.

    This helps in maintaining data integrity and allows them to be used as keys in dictionaries.

    If you try to change a tuple value, Python will raise a TypeError.

    Example:
    ```
    tuple = (1, 2, 3)
    tuple[0] = 10 #Not allowed
    ```

16. **What is a nested dictionary, and give an example of its use case?**

    A nested dictionary is a dictionary inside another dictionary.

    It’s used when you need to store structured or grouped data.

    Useful in scenarios like storing student data where each student has multiple details.

    Example:
    ```
    students = { "Amit": {"age": 20, "grade": "A"},
                "Sara": {"age": 22, "grade": "B"}
                }
    ```

    You can access values like:** students["Amit"]["grade"] ---> 'A'**

17. **Describe the time complexity of accessing elements in a dictionary.**

    Dictionary lookup is usually **O(1)** — very fast, no matter how big the dictionary is.

    This is possible because dictionaries use a hash table under the hood.

    Worst-case time can be O(n) in rare collision-heavy cases, but that’s uncommon.

    So, for most tasks, accessing a key like **my_dict["grade"]** is extremely efficient.

    That’s why dictionaries are often chosen for fast lookups.

18. **In what situations are lists preferred over dictionaries.**

  1. When order matters

      Lists preserve the order of elements, while dictionaries (before Python 3.7) didn’t guarantee order. Even now, if you only care about sequence, lists are simpler.

      ```
      tasks = ["Wake up", "Exercise", "Work"]
      ```

  2. When you don’t need key–value pairs

      If you just need a collection of items without unique identifiers (like a shopping list), a list is the natural choice.

  3. When duplicates are allowed

      Lists let you store the same value multiple times, while dictionary keys must be unique.
      ```
      nums = [2, 2, 3, 5]  # duplicates are fine
      ```

  4. When memory usage should be minimal

      Lists are lighter because they only store values, while dictionaries store keys + values + hash data, which consumes more memory.

  5. When you often use indexing

      Lists let you access elements by their position (index). Dictionaries don’t support direct numeric indexing.

      ```
      names = ["Alice", "Bob", "Charlie"]  
      print(names[1])  # Bob
      ```

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**

    Before Python 3.7, dictionaries didn’t preserve the insertion order of keys.

    This means you couldn’t rely on the order in which items appeared during iteration.

    Even though Python 3.7+ maintains insertion order, dictionaries are still logically unordered, meaning key-based access matters, not position.

    You can’t access items by index like dict[0] — only by specific keys.

    This affects tasks where sequence matters, like sorting or indexing.

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**

  * Lists use index-based access, like my_list[0], so position matters.

  * Dictionaries use key-based access, like my_dict["name"], which is more descriptive.

  * List lookups are O(n) if you search by value, but O(1) by index.

  * Dictionary lookups are usually O(1) using keys, regardless of position.

  * Use a list when order or sequence is important, and a dictionary when you     need labeled data.

# Practical Questions

In [3]:
# 1. Write a code to create a string with your name and print it.

name = 'Shivam'
print("Hi Myself: ", name)

Hi Myself:  Shivam

In [4]:
# 2. Write a code to find the length of the string "Hello World".
word = "Hi how are you"
print("Length of string: ", len(word))

Length of string:  14

In [5]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
word2 = "Python Programming"
print("first 3 character are: ", word2[:3])

first 3 character are:  Pyt

In [6]:
# 4. Write a code to convert the string "hello" to uppercase.
word3 = "hello"
print("Uppercase: ", word3.upper())

Uppercase:  HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

word4 = "I like apple"
print(word4.replace('apple', 'orange'))

I like orange

In [9]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
num_list = []
for i in range(5):
  num_list.append(i+1)
print(num_list)

[1, 2, 3, 4, 5]

In [10]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
num_list2 = [1,2,3,4]
num_list2.append(10)
print(num_list2)

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
num_list3 = [1,2,3,4,5]
num_list3.remove(3)
print(num_list3)

[1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
str_list = ['a', 'b', 'c', 'd']
print(str_list[1])

b

In [13]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
num_list4 = [10, 20, 30, 40, 50]
num_list4.reverse()
print(num_list4)

[50, 40, 30, 20, 10]

In [14]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100,200,300)
print(tup)

(100, 200, 300)

In [16]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
color_tup = ('red', 'green', 'blue', 'yellow')
print(color_tup[-2])

blue

In [17]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num_tulpe=(10,20,5,15)
print(min(num_tulpe))

5

In [18]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animal_tuple = ('dog', 'cat', 'rabbit')
print(animal_tuple.index('cat'))

1

In [21]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruit_tuple = ('apple', 'banana', 'orange')
if 'kiwi' in fruit_tuple:
  print('kiwi is in the tuple')
else:
  print('kiwi is not in the tuple')

kiwi is not in the tuple

In [27]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letter = {"a","b","c"}
print(letter)

{'b', 'a', 'c'}

In [28]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
num_set = {1,2,3,4,5}
num_set.clear()
print(num_set)

set()

In [29]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
num_set2 = {1,2,3,4}
num_set2.remove(4)
print(num_set2)

{1, 2, 3}

In [30]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
num_set3 = {1,2,3}
num_set4 = {3,4,5}
print(num_set3.union(num_set4))

{1, 2, 3, 4, 5}

In [31]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
num_set5 = {1,2,3}
num_set6 = {2,3,4}
print(num_set5.intersection(num_set6))

{2, 3}

In [33]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
student = {"name": "Shivam", "age": 26, "city": "delhi"}
print(student)

{'name': 'Shivam', 'age': 26, 'city': 'delhi'}

In [34]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dic = {'name': 'John', 'age': 25}
dic['country'] = 'USA'
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [36]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person2.pop('age')
print(person2)

{'name': 'Bob', 'city': 'New York'}

In [37]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person3 = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person3:
  print('city is in the dictionary')
else:
  print('city is not in the dictionary')

city is in the dictionary

In [38]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4,5]
print(list)
tuple = (1,2,3,4,5)
print(tuple)
dict = {
    "name": "shivam",
    "age": 26,
    "city": "delhi"
}
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'shivam', 'age': 26, 'city': 'delhi'}

In [40]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

numbers = random.sample(range(1, 101), 5)

numbers.sort()

print(numbers)

[9, 18, 36, 41, 80]

In [41]:
# 28. Write a code to create a list with strings and print the element at the third index.
str_list2 = ["apple", "banana", "orange", "grape", "kiwi"]
print(str_list2[2])

orange

In [42]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [43]:
# 30. Write a code to convert a list of strings into a set.
str_list3 = ["apple", "banana", "orange", "grape", "kiwi"]
str_set = set(str_list3)
print(str_set)

{'banana', 'grape', 'kiwi', 'apple', 'orange'}